<p style="color: green"><%= notice %></p>

<%= render @deity %>

<div>
  <%= link_to "Edit this deity", edit_deity_path(@deity) %> |
  <%= link_to "Back to deities", deities_path %>

  <%= button_to "Destroy this deity", @deity, method: :delete %>
</div>
