<div class="admin-dashboard">
  <h1>Tableau de bord Admin</h1>
  
  <div>
    <%= link_to "Users", users_path %>
    <%= link_to "Tags", tags_path %>
    <%= link_to "Schools", schools_path %>
    <%= link_to "Deities", deities_path %>
    <%= link_to "Languages", languages_path %>

  </div>
  
  <!-- Ici vous pouvez ajouter plus de contenu pour votre tableau de bord admin -->
</div>