<!-- filepath: app/views/texts/_text.html.erb -->
<div id="<%= dom_id text %>" class="rounded-xl shadow-md overflow-hidden hover:shadow-xl hover:border transition-all duration-300 flex flex-col h-full  hover:border-blue-300 cursor-pointer">
  <div class="w-full bg-gray-50">
    <div class="w-full aspect-[210/297] relative">
      <%= display_text_cover(text, class: "w-full h-full object-contain") %>
    </div>
  </div>
  
  <div class="p-6 flex-grow">
    <% if text.preferred_version_title.present? %>
      <p class="text-xl text-gray-900 mt-1">
        <span class="font-medium"><%= text.preferred_version_title %></span>
      </p>
    <% end %>
    <h2 class="text-l font-serif text-gray-900 mb-1 truncate"><%= text.title_wylie %></h2>
    <h2 class="text-l font-serif text-gray-900 mb-1 truncate"><%= text.title_tibetan %></h2>
    
    <div class="mt-2 flex items-center text-sm text-gray-500">
      <!-- Autres informations du texte... -->
    </div>
  </div>

</div>